<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Covid/src/gov/lbnl/InferCaseFatalityRates/InferCaseFatalityRatesLauncher.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gov.lbnl.InferCaseFatalityRates.InferCaseFatalityRatesLauncher"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sDataPath=/home/jladau/Desktop/case-fatality-rate-estimation/formatted-data.csv &#10;--sResponse=CASES_TOTAL &#10;--dSlopeMinimum=0.99 &#10;--dSlopeMaximum=1.01 &#10;--dSlopeStep=0.0005 &#10;--sOutputPath=/home/jladau/Desktop/temp.csv&#10;--lstPredictors=COUNTY_41001,COUNTY_41003,COUNTY_41005,COUNTY_41009,COUNTY_41013,COUNTY_41017,COUNTY_41019,COUNTY_41029,COUNTY_41031,COUNTY_41033,COUNTY_41035,COUNTY_41039,COUNTY_41041,COUNTY_41043,COUNTY_41045,COUNTY_41047,COUNTY_41049,COUNTY_41051,COUNTY_41053,COUNTY_41059,COUNTY_41061,COUNTY_41063,COUNTY_41065,COUNTY_41067,COUNTY_41071"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Covid"/>
</launchConfiguration>
