<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Utilities/src/edu/ucsf/SingleLinkageClustering/SingleLinkageClusteringLauncher.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.SingleLinkageClustering.SingleLinkageClusteringLauncher"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sDataPath=/home/jladau/Desktop/covid-19-microbiome/final-version/in-progress/effects/temp.3.csv&#10;--sObjectHeader1=TAXON_ID_SHORT_1&#10;--sObjectHeader2=TAXON_ID_SHORT_2&#10;--sValueHeader=VALUE&#10;--dThreshold=0.5&#10;--sOutputPath=/home/jladau/Desktop/temp.csv"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Utilities"/>
</launchConfiguration>
