<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Utilities/src/edu/ucsf/InequalitySignificanceTest/InequalitySignificanceTestLauncher.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.InequalitySignificanceTest.InequalitySignificanceTestLauncher"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sDataPath=/home/jladau/Desktop/current-projects/covid-environmental-microbiome/beta-diversity-fungi-county.csv&#10;--sXHeader=BRAY_CURTIS_MEAN&#10;--sYHeader=IFR_COUNTY_MEAN&#10;//--sDataPath=/home/jladau/Desktop/current-projects/covid-environmental-microbiome/beta-diversity-fungi-ungrouped.csv&#10;//--sXHeader=BETA_J&#10;//--sYHeader=IFR_COUNTY&#10;//--sCategoryHeader=COUNTY_FIPS&#10;//--sCountingDirection=below&#10;//--sSlopeSign=positive&#10;--iIterations=1000&#10;--sOutputPath=/home/jladau/Desktop/temp.csv"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Utilities"/>
</launchConfiguration>
