<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Utilities/src/edu/ucsf/StandardizedEffectSizes/StandardizedEffectSizesLauncher.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsf.StandardizedEffectSizes.StandardizedEffectSizesLauncher"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sDataPath=/home/jladau/Desktop/covid-19-microbiome/final-version/in-progress/interactions/temp.2.csv &#10;--rgsCategoryHeaders=TAXA,NUMBER_INDIVIDUAL_TAXA,REMAINING_COMMUNITY&#10;--sValueHeader=PERFORMANCE &#10;--sRandomizationHeader=RANDOMIZATION &#10;--iNullIterations=100&#10;--sOutputPath=/home/jladau/Desktop/covid-19-microbiome/final-version/in-progress/interactions/temp.3.csv"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Utilities"/>
</launchConfiguration>
